.cell {
    min-width: 16px;
    min-height: 16px;
    position: absolute;
    float: left;
    border: dashed 1px #666666;
    border-width: 0 1px 1px 0;
    cursor: pointer;
}

.cell.unknown {
    background-color: #999999;
}

.cell.on {
    background-color: #000000;
}

.cell.off {
    background-color: #ffffff;
}

.cell.selected {
    background-color: #00ff00;
}

/*
.grid {
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
}

.grid div {
    border: 1px solid #ccc;
    float: left;
}
*/
